<div class="nav-search">
	<div class="nav-wrap">
		<div class="inline-block">
			<div class="nav-logo">
				<a href="/"><img src="/images/logo_left.png"></a>
				<!-- <a style="font-size: 40px; font-weight: bold; color: #363636">电影交流平台</a> -->
				<!-- <p><a href="/">电影交流平台</a></p> -->
				<!-- <p>
					<span data-text="电">电</span>
					<span data-text="影">影</span>
					<span data-text="交">交</span>
					<span data-text="流">流</span>
					<span data-text="平">平</span>
					<span data-text="台">台</span>
				</p> -->
				<a href="/">电影交流平台</a>
				<a href="/"><img src="/images/logo_right.png"></a>
			</div>
			<div class="search-wrap">
				<form action="/search" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="请输入关键字后进行搜索" name="search_text">
					<span class="input-group-btn">
				    	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				    </span>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/logo.css">